@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --secondary: #f5f5f5;
  }


/* Browser Default Settings */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

/* Page Layout */
body {
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex-grow: 1;
}


/* Nav Elements */
.add {
    align-items: center;
    color: white;
    display: flex;
    font-size: 1.2em;
    position: absolute;
    right: 2%;
}

.add-icon {
    height: 2em;
    margin-left: 8px;
    transition: .3s;
}

.add-icon:hover {
    scale: 1.2;
    transition: .3s;
}

.menu-icon {
    height: 2em;
    left: 2%;
    position: absolute;
    transition: .3s;
}

.menu-icon:hover {
    scale: 1.2;
    transition: .3s;
}

.nav {
    align-items: center;
    /* Background gradient found here: https://uigradients.com/#AzurLane */
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    height: 75px;
    position: relative;
}

.nav h1 {
    color: white;
}

.title {
    align-items: center;
    display: flex;
    margin: auto;
}

.title-icon {
    height: 2.5em;
    margin-right: 4px;
}

/* Menu */
.menu {
    background-color: var(--secondary);
    overflow-x: hidden;
    padding: 16px;
    transition: 0.5s;
    width: 20%;
    z-index: 1;
}

.menu-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.menu-buttons button {
    border: none;
    border-radius: 8px;
    background-color: var(--secondary);
    font-size: 1.1em;
    margin: 8px 0;
    padding: 4px;
    transition: .3s;
    width: 85%;
}

.menu-buttons button:hover {
    filter: brightness(85%);
}

.menu-buttons button[data-state="active"] {
    background-color: lightgray;
}

.menu-btn {
    align-items: center;
    display: flex;
}

/* Main Content */
input[type=checkbox]:checked + label.task-crossout{
    text-decoration: line-through;
}

.task-check {
    margin: 12px;
    scale: 1.3;
}

.task-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 50px 50px 0 50px;
    position: relative;
}

.task-crossout {
    width: 500px;
    overflow: hidden;
    pointer-events: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-header {
    border-bottom: solid black 1px;
    width: 80%;
}

.task-item {
    align-items: center;
    border-bottom: solid lightgrey 1px;
    display: flex;
    font-size: 1.3em;
    margin: 12px;
    width: 90%;
}

.task-item i {
    scale: 1.3;
    margin: 12px;
    transition: .2s;
}

.task-item i:hover {
    scale: 1.5;
    transition: .2s;
}

.task-item span {
    font-size: .8em;
    margin-right: 12px;
}

.icons{
    margin-left: auto;
     
}

.task-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* Task Form */
.close-icon {
    height: 1.2em;
    position: absolute;
    top: 2%;
    right: 2%;
    transition: .2s
}

.close-icon:hover {
    scale: 1.3;
    transition: .2s
}

.task-form {
    background-color: var(--secondary);
    border: none;
    border-radius: 12px;
    display: none;
    padding: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.task-form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.task-form input {
    padding: 2px 8px;
}

.task-form textarea {
    padding: 8px;
    resize: none;
}

.task-form-background {
    background-color: rgba(0, 0, 0, .4);
    display: none;
    height: 100%;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 2;
}

.form-submit {
    margin: auto;
    width: 50%;
}

.form-submit button {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); 
    border-radius: 12px;
    font-size: 1.2rem;
    margin-top: 12px;
    padding: 8px;
    transition: .2s;
}

.form-submit button:hover {
    scale: 1.05;
    transition: .2s;
}

/* Priority classes */
.High {
    color: red;
}

.Medium {
    color: orange;
}

.Low {
    color: green;
}


/* Project menu */
.project-btn {
    border: none;
    border-radius: 8px;
    background-color: var(--secondary);
    font-size: 1.1em;
    margin: 8px 0;
    padding: 4px;
    transition: .3s;
    width: 85%;
    text-align: center;
}

.project-btn:hover {
    filter: brightness(85%);
}

.project-dropdown {
    align-items: center;
    display: flex;
}

.project-list {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.project-list button {
    border: none;
    border-radius: 8px;
    background-color: var(--secondary);
    font-size: 1.1em;
    margin: 8px 0;
    padding: 4px;
    transition: .3s;
    width: 85%;
}

.project-list button:hover {
    filter: brightness(85%);
}

.project-menu div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#project {
    display: block;
    overflow: hidden;
    justify-content: center;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#project i {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s;
}

#project i:hover {
    scale: 1.2;
}

/* Project Form */
.project-form {
    background-color: var(--secondary);
    border: none;
    border-radius: 12px;
    display: none;
    padding: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.project-form  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.project-form  input {
    padding: 2px 8px;
}

.project-form  textarea {
    padding: 8px;
    resize: none;
}